<footer _ngcontent-igw-c22 _nghost-igw-c21>
  <div _ngcontent-igw-c21 class="footer">
    <div _ngcontent-igw-c21 class="card-group m-4">
      <div _ngcontent-igw-c21 class="card">
        <div _ngcontent-igw-c21 class="card-body text-center">
          <h3 _ngcontent-igw-c21>LOCATION</h3>
          <p _ngcontent-igw-c21>2215 John Daniel Drive</p>
          <p _ngcontent-igw-c21>Clark, MO 65243</p>
        </div>
      </div>
      <div _ngcontent-igw-c21 class="card text-white">
        <div _ngcontent-igw-c21 class="card-body text-center">
          <h3 _ngcontent-igw-c21>AROUND THE WEB</h3>
          <div _ngcontent-igw-c21 class="icons">
            <i _ngcontent-igw-c21 class="fa-brands fa-twitter mx-1 icon"></i>
            <i _ngcontent-igw-c21 class="fa-brands fa-linkedin-in mx-1 icon"></i>
            <i _ngcontent-igw-c21 class="fa-solid fa-globe mx-1 icon"></i>
          </div>
        </div>
      </div>
      <div _ngcontent-igw-c21 class="card">
        <div _ngcontent-igw-c21 class="card-body text-center">
          <h3 _ngcontent-igw-c21>ABOUT FREELANCER</h3>
          <p _ngcontent-igw-c21> Freelance is a free to use, licensed Bootstrap theme created by Route </p>
        </div>
      </div>
    </div>
  </div>
  <div _ngcontent-igw-c21 class="p">
    <p _ngcontent-igw-c21>Copyright © Your Website 2021</p>
  </div>
</footer>
