<div _ngcontent-aed-c17 class="home d-flex justify-content-center align-items-center text-white">
  <div _ngcontent-aed-c17 class="text-center pt-5 py-5">
    <img _ngcontent-aed-c17 src="./assets/avataaars.svg" alt class="mb-3">
    <div _ngcontent-aed-c6 class="text-center pt-4" style="color: white;">
      <h2 _ngcontent-aed-c6 class="text-uppercase mb-3 fs-1 fw-bolder">start Framework</h2>
      <div _ngcontent-aed-c6 class="d-flex align-items-center justify-content-center mb-3">
        <div _ngcontent-aed-c6 class="line me-3" style="background-color: white;"></div>
        <i _ngcontent-aed-c6 class="fa-solid fa-star"></i>
        <div _ngcontent-aed-c6 class="line ms-3" style="background-color: white;"></div>
      </div>
    </div>
    <div _ngcontent-aed-c17>Graphic Artist - Web Designer - Illustrator</div>
  </div>
</div>
