<nav _ngcontent-thp-c20>
  <nav _ngcontent-thp-c20 class="navbar navbar-expand-lg fixed-top py-4">
    <div _ngcontent-thp-c20 class="container">
      <a routerLink="startFramework" class="navbar-brand text-white text-uppercase fw-bolder fs-2">Start Framework </a>
      <button _ngcontent-thp-c20 type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span _ngcontent-jux-c20 class="navbar-toggler-icon"></span></button>
      <div _ngcontent-thp-c20 id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul _ngcontent-thp-c20 class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li _ngcontent-thp-c20 class="nav-item me-3"><a _ngcontent-thp-c20 routerLinkActive="active rounded-3" routerLink="about" class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2" style="width: fit-content;">about</a></li>
          <li _ngcontent-thp-c20 class="nav-item me-3"><a _ngcontent-thp-c20 routerLinkActive="active rounded-3" routerLink="portfolio" class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2" style="width: fit-content;">portfolio</a></li>
          <li _ngcontent-thp-c20 class="nav-item me-3"><a _ngcontent-thp-c20 routerLinkActive="active rounded-3" routerLink="contact" class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2" style="width: fit-content;">contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</nav>
