<div _ngcontent-xbv-c19 class="mb-4">
  <div _ngcontent-xbv-c19 class="pt-4">
    <div _ngcontent-xbv-c6 class="text-center pt-4" style="color: rgb(44, 62, 80);">
      <h2 _ngcontent-xbv-c6 class="text-uppercase mb-3 fs-1 fw-bolder">portfolio component</h2>
      <div _ngcontent-xbv-c6 class="d-flex align-items-center justify-content-center mb-3">
        <div _ngcontent-xbv-c6 class="line me-3" style="background-color: rgb(44, 62, 80);"></div>
        <i _ngcontent-xbv-c6 class="fa-solid fa-star"></i>
        <div _ngcontent-xbv-c6 class="line ms-3" style="background-color: rgb(44, 62, 80);"></div>
      </div>
    </div>
    <div _ngcontent-xbv-c19 class="container">
      <div _ngcontent-xbv-c19 class="row g-5">
        <div _ngcontent-xbv-c19 class="col-lg-4 col-md-6">
          <div _ngcontent-xbv-c19 class="rounded-3 overflow-hidden position-relative">
            <img _ngcontent-xbv-c19 alt class="w-100 rounded-3" src="./assets/poert1.png">
            <div _ngcontent-xbv-c19 class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
              <i _ngcontent-xbv-c19 class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>
        <div _ngcontent-xbv-c19 class="col-lg-4 col-md-6">
          <div _ngcontent-xbv-c19 class="rounded-3 overflow-hidden position-relative">
            <img _ngcontent-xbv-c19 alt class="w-100 rounded-3" src="./assets/port2.png">
            <div _ngcontent-xbv-c19 class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
              <i _ngcontent-xbv-c19 class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>
        <div _ngcontent-xbv-c19 class="col-lg-4 col-md-6">
          <div _ngcontent-xbv-c19 class="rounded-3 overflow-hidden position-relative">
            <img _ngcontent-xbv-c19 alt class="w-100 rounded-3" src="./assets/port3.png">
            <div _ngcontent-xbv-c19 class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
              <i _ngcontent-xbv-c19 class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>
        <div _ngcontent-xbv-c19 class="col-lg-4 col-md-6">
          <div _ngcontent-xbv-c19 class="rounded-3 overflow-hidden position-relative">
            <img _ngcontent-xbv-c19 alt class="w-100 rounded-3" src="./assets/poert1.png">
            <div _ngcontent-xbv-c19 class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
              <i _ngcontent-xbv-c19 class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>
        <div _ngcontent-xbv-c19 class="col-lg-4 col-md-6">
          <div _ngcontent-xbv-c19 class="rounded-3 overflow-hidden position-relative">
            <img _ngcontent-xbv-c19 alt class="w-100 rounded-3" src="./assets/port2.png">
            <div _ngcontent-xbv-c19 class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
              <i _ngcontent-xbv-c19 class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>
        <div _ngcontent-xbv-c19 class="col-lg-4 col-md-6">
          <div _ngcontent-xbv-c19 class="rounded-3 overflow-hidden position-relative">
            <img _ngcontent-xbv-c19 alt class="w-100 rounded-3" src="./assets/port3.png">
            <div _ngcontent-xbv-c19 class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
              <i _ngcontent-xbv-c19 class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
